.refs/
.build/
bin/

tests/

*.exe
!/data/zork/dfrotz.exe
/data/zork/*.[sS][aA][vV]
/data/position_markers.json
/data/position_markers.json.tmp
/data/markers.json
/data/markers.json.tmp
/ootss-cmd.com
*.pdb
